<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <table border>
      <thead>
        <tr>
          <template is="dom-repeat" items="{{fila1}}">
            <th>hola</th>
          </template>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `tabla-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaElement extends Polymer.Element {
      static get is() { return 'tabla-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-element'
          }
          fila:{
            type: Number,
            value: 10,
            observer: 'llenado'
          }
          columns:{
            type: Number,
            value: 3
          }
          fila1:{
            type:Array
          }

        };
      }
      llenado(){
        for (var i = 0; i < this.fila; i++) {
          this.fila1.push(i);
        }
      }
    }

    window.customElements.define(TablaElement.is, TablaElement);
  </script>
</dom-module>
